  @import url('https://fonts.googleapis.com/css?family=Cinzel');

@charset "utf-8";
/* CSS Document */
body    {
    font-family: 'Cinzel', serif;
}

header {
    background-color: #FFFFFF;
    height: 100px;
    margin: 20px;
    padding: 10px;

}
.logo {
    float: left;
    vertical-align: middle;
}
.title  {
    float: left;
    vertical-align: middle;
    transform: translateY(-50%);
    top: 40%;
    position: relative;
    padding-left: 350px;
    font-size: 2em;
}
.button {
    background-color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    font-size: .8em;
    display: block;
    float: right;
    padding: 10px;
    width: 100px;
}
.button:hover {
    background-color: #e5e5e5;
    }

nav {
    background-color: #FFFFFF;
}
a   {
    color: #000000;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font: 0;
}
h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 2;
}
.main-title {
    text-align: center;
    padding: 10px;
    margin: 5px;
}
.main-contact {
    text-align: center;
    padding: 10px;
    margin: 10px;
}
#container {
  width: 970px;
  margin: 0 auto;
}

.column-content {
  width: 270px;
  padding: 10px;
  margin: 0 10px;
  float: left;
}

#article1 {
  background-color: #ffb8c8;
}

#article2 {
  background-color: #f5aa9d;
}

#article3 {
  background-color: #B96A91;
}

.images {
  padding-top: 8px;
  padding-bottom: 8px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font: 0;
}
.about-me   {
    border-color: #E82C0C;
    border: 2px;
    width: 1000px;
    padding: 35px;
    margin: 0 auto;
}

footer {
    margin: 0px auto;
    padding-bottom: 20px;
    width: 800px;
}

#footer .copyright {
    text-align: center;
    font-size: .7em;
    padding-bottom: 15px;
}

