@import url('https://fonts.googleapis.com/css?family=Cinzel');

@charset "utf-8";
/* CSS Document */

body { 
  background: url("https://static1.squarespace.com/static/532b8ca7e4b010786b59ccd3/t/58d1f6e46a4963c19a0b9711/1490155238218/alphonsobackground.jpg?format=2500w");
  background-size: cover;
  color: #fff;
  font-family: 'Cinzel', serif;
  text-align: center;
 }

h1 {
	font-weight: 500;
} 

p {
	color: white;
	font-size: 90%;
	text-align: center;
}
li { 
	font-size: 80%;
	list-style-position: inside; 
}

h2 {
	font-style: italic;
	font-weight: 400;
}

 .footer { 
          
       bottom: 30px; 
       font-size: 120%;
       font-weight: bold;
       font-color: white;
       position: fixed;  
       text-align: center;
       width: 100%;  
	}
a:link {
   color:inherit;
}

